<% include header.html %>

<div class='container'>
    <br>
    <form action='javascript:search()'>
        <div class='input-group'>
            <input id='query' placeholder='Airport Name'
                class='form-control' autofocus>
            <span class='input-group-btn'>
                <button type='submit' 
                    class='btn btn-primary'>Search</button>
            </span>
        </div>
    </form>
</div>

<script>
function search() {
    $.get('/search?name=' + $('#query').val())
    .done(show)
}
function show(data) {
    console.table(data)
}
</script>

<% include footer.html %>